@model JICtravel.Web.Data.Entities.SlaveEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().CityVisited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().TotalExpensives)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Trips)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityVisited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExpensives)
            </td>
            <td>
                <a asp-action="TripDetails" asp-route-id="@item.Id" class="btn btn-info">Trip Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
