@model JICtravel.Web.Data.Entities.SlaveEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TripEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trips.FirstOrDefault().StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trips.FirstOrDefault().EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trips.FirstOrDefault().CityVisited)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trips.FirstOrDefault().CityVisited)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
