@model JICtravel.Web.Data.Entities.TripEntity

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.FirstOrDefault().StartDateLocal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.FirstOrDefault().ExpensiveType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.FirstOrDefault().Expensive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TripDetails.FirstOrDefault().PicturePath)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TripDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateLocal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpensiveType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Expensive)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.PicturePath))
                        {
                            <img src="@Url.Content(item.PicturePath)" alt="Image"/>
                        }
                    </td>
                    <td>
                        <a asp-action="Index">Back to List</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
